{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true,
          "tsx": true
        }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
    "rules": {
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "@typescript-eslint/member-delimiter-style": ["error", {
          "multiline": {
            "delimiter": "none",
            "requireLast": true
          },
          "singleline": {
            "delimiter": "semi",
            "requireLast": false
          },
          "multilineDetection": "brackets"
        }]
      },
      "env": {
        "es6": true,
        "browser": true,
        "node": true
      }
}