.icon-arrow-back,
.icon-arrow-forward,
.pokemon-card-detail-back {
    cursor: pointer;
    padding: 20px;
    background: none;
    border: none;
}

.pokemon-card-favourite {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    right: 5;
    bottom: 5;
}